/* 
    Write your custom CSS here and also abstract your Tailwind css using @apply
*/


.ui-icon-gripsmall-diagonal-se {
    display: none !important;
}

.ui-resizable-e {
    cursor: ew-resize !important;
}

.ui-resizable-s {
    cursor: ns-resize !important;
}

.ui-resizable-se {
    cursor: nwse-resize !important;
}